body {
  width: 100%;
  height: 100%;
  font-family: "Inter";
}
body .header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.3);
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  z-index: 999;
}
body .header .nav {
  display: flex;
  z-index: 999;
}
body .header .nav div {
  position: absolute;
  color: #000000;
  line-height: 60px;
}
body .header .nav div:nth-of-type(1) {
  left: 250px;
  width: 133px;
  height: 35px;
  font-weight: 700;
  font-size: 30px;
}
body .header .nav div:nth-of-type(2),
body .header .nav div:nth-of-type(3) {
  left: 30%;
  font-weight: 500;
  font-size: 22px;
}
body .header .nav div:nth-of-type(3) {
  left: 35%;
}
body .container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1220px;
  display: flex;
  flex-direction: column;
}
body .container .input-area {
  height: 450px;
  background-color: rgb(255, 255, 255);
}
body .container .input-area img {
  position: absolute;
  width: 210px;
  height: 200px;
  left: 295px;
  top: 150px;
  transition: opacity 0.3s ease;
}
body .container .input-area .input_transform_img {
  opacity: 0;
  transition: opacity 0.5s ease;
}
body .container .input-area div {
  font-weight: 600;
  position: absolute;
  left: 580px;
}
body .container .input-area div.match-result {
  display: flex;
  width: 223px;
  height: 48px;
  top: 130px;
  font-size: 38px;
}
body .container .input-area div.match-content {
  position: absolute;
  width: 600px;
  height: 150px;
  top: 220px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #747373;
}
body .container .output-area {
  height: 610px;
  background-image: linear-gradient(to top, #d3d6ef 0%, #cfd2f0 1%, #f4ecf6 100%);
  border-top: 1px solid rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
body .container .output-area .item-container {
  width: 900px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .container .output-area .item-container .item {
  margin: 20px;
  text-align: center;
  position: relative;
  width: 250px;
  height: 250px;
}
body .container .output-area .item-container .item img {
  position: absolute;
  left: 0;
  width: 224px;
  height: 224px;
  margin: 15px;
  transition: opacity 0.5s ease;
  box-shadow: 10px 10px 15px rgba(194, 194, 194, 0.3);
}
body .container .output-area .item-container .item .original_img-1 {
  z-index: 2;
}
body .container .output-area .item-container .item .trans_img-1 {
  z-index: 1;
  opacity: 0;
}
body .container .output-area .item-container .item p {
  position: absolute;
  top: 235px;
  left: 100px;
}
body .container .output-area .item-container .item-desc-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 999;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 400px;
  background-color: #fff;
  border-radius: 7px;
  overflow: hidden;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-header {
  width: 100%;
  height: 45px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-header i {
  position: absolute;
  top: 7px;
  right: 10px;
  font-size: 30px;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .title {
  width: 100%;
  font-weight: 600;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
  transform: translate(0, -40px);
  overflow: hidden;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .item-img img {
  position: absolute;
  top: 5px;
  left: -5px;
  width: 224px;
  height: 224px;
  margin: 15px;
  transition: opacity 0.5s ease;
  border: 0.5px solid rgb(219, 219, 219);
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .item-img .original_img {
  z-index: 2;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .item-img .original_img:hover {
  opacity: 0.2;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .item-img .trans_img {
  z-index: 1;
  opacity: 0.7;
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-1,
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-2 {
  width: 300px;
  height: 80%;
  margin-right: 20px;
  transform: translate(250px, 25px);
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-1 > div,
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-2 > div {
  width: 100%;
  height: 25px;
  margin-bottom: 7px;
  border-bottom: 0.5px solid rgb(225, 225, 225);
}
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-1 p,
body .container .output-area .item-container .item-desc-wrapper .item-desc .item-container .data-container .desc-2 p {
  display: inline-block;
  width: 100px;
  transform: translate(0, -13px);
}
body .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #F0EEFF;
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
